<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
  <div th:if="${productLine.id == null}"><h1>Create Product</h1></div>
  <div th:unless="${productLine.id == null}"><h1>Edit ProductLine</h1></div>
  <div class="container text-center">
    <form th:action="@{/product-line/save}" th:object="${productLine}" method="post"
          style="max-width: 600px; margin: 0 auto">
      <input type="hidden" th:field="*{id}" th:value="${productLine.id}"/>
      <div class="form-group row" style="margin-bottom: 50px">
        <label class="col-form-label col-sm-5">Code Product: </label>
        <div class="col-sm-7">
          <input type="text" th:field="*{code}" class="form-control" required>
        </div>
      </div>
      <div class="form-group row" style="margin-bottom: 50px">
        <label class="col-form-label col-sm-5">Name Product: </label>
        <div class="col-sm-7">
          <input type="text" th:field="*{name}" class="form-control" required>
        </div>
      </div>
      <div class="form-group row" style="margin-bottom: 50px">
        <label class="col-form-label col-sm-5">Import Price Product: </label>
        <div class="col-sm-7">
          <input type="number" step="0.01" th:field="*{importPrice}" class="form-control" required>
        </div>
      </div>
      <div class="form-group row" style="margin-bottom: 50px">
        <label class="col-form-label col-sm-5">Import Price Product: </label>
        <div class="col-sm-7">
          <input type="number" step="0.01" th:field="*{price}" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-5">Manufacturer: </label>
        <div class="col-sm-7">
          <select th:field="*{manufacturer}" class="form-control" required>
            <th:block th:each="manufacturer : ${manufacturerList}">
              <option th:text="${manufacturer.name}" th:value="${manufacturer.id}"/>
            </th:block>
          </select>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success" style="margin-top: 50px">Create</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>
